:root {
  font-size: 16px;
  --light-rose: #fff7fb;
  --dark-rose: #7a284e;
  --dark-gray: #312e2c;
  --med-gray: #5f564d;
  --light-gray: #e3ddd7;
  --ivory: #f3e5d7;
  --brown: #854632;
  --white: #fff;
  --gap-100: 0.5rem;
  --gap-150: 0.75rem;
  --gap-200: 1rem;
  --gap-300: 1.5rem;
  --gap-400: 2rem;
  --gap-500: 2.5rem;
  --gap-600: 3rem;
  --gap-1600: 8rem;
  --text-1: 400 2.5rem/1 'Young Serif', serif;
  --text-2: 400 1.75rem/1 'Young Serif', serif;
  --text-3: 600 1.25rem/1 'Outfit', sans-serif;
  --text-4: 400 1rem/1.5 'Outfit', sans-serif;
  --text-5: 700 1rem/1.5 'Outfit', sans-serif;
}

@font-face {
  font-family: 'Young Serif';
  src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

body * {
  /* border: 1px solid red; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font: var(--text-4);
  color: var(--med-gray);
  background-color: var(--ivory);
}
h1 {
  font: var(--text-1);
  color: var(--dark-gray);
  margin-bottom: var(--gap-300);
}
h2 {
  font: var(--text-2);
  color: var(--brown);
}
h3 {
  font: var(--text-3);
  color: var(--dark-rose);
}

.content-wrapper {
  max-width: 46rem;
  margin-block: var(--gap-1600);
  border-radius: var(--gap-300);
  overflow: hidden;
}
.content-wrapper > * {
  background-color: var(--white);
}

header,
main {
  display: grid;
  grid-template-columns: var(--gap-500) [content-start] 1fr [content-end] var(--gap-500);
}

header > *,
main > * {
  grid-column: content;
}

.hero-img {
  margin-block: var(--gap-500);
  border-radius: var(--gap-150);
  overflow: hidden;
}

.card {
  /* border: 1px solid red; */
  margin-top: var(--gap-400);
}

.inset {
  background-color: var(--light-rose);
  padding: var(--gap-300);
  border-radius: var(--gap-150);
}